
body {
 	padding-top: 70px; 
 	padding-left: 50px;
 	padding-right: 50px;
 }

.container {
	background-color: gold;	
}

.makeDark{
	background-color: black;
	background-image: url("https://c1.staticflickr.com/9/8382/8494622392_d5e5d10abb_b.jpg");
	background-repeat-y: no-repeat;
	background-size: 100%;
}

.textDark{
	color: white;
}

.makeLarge{
	font-size: 2em;
}

.buttonDark{
	color: black;
}

.delete {
	float: right;
	background-color: gold;
}

div.container {
	width: 100%;
}

a.navbar-brand {
	font-size: 3em;
}

input#userInput.form-control {
	width: 250%;
}

button#clearBtn.btn.btn-default{
	margin-left: 300px;
}

div.form-group {

}

.mssg{
		margin: 5px 0;
		padding: 5px 0;
}
