
body {
 	padding-top: 70px; 
 	padding-left: 50px;
 	padding-right: 50px;
 }

.container {
	background-color: silver;
	
}

.makeDark{
	background-color: black;
}

.textDark{
	color: white;
}

.makeLarge{
	font-size: 2em;
}

.buttonDark{
	color: black;
}